
{% extends "base.html" %}

{% block title %}PDF Anhang{% endblock %}

{% block body %}

    <h1>PDF Anhang</h1>
    <hr>

    {% if pdf.errors is not empty %}
    <p>Warnung:</p>
    <ul>
        {% for error in pdf.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

{% endif %}

  
    <h3 class="mt-3">Upload</h3>
    <form method="post" action="/pdf/create" enctype="multipart/form-data" >
      
        <div class="form-group">
            <label for="inputFile">Upload von PDF Dokumenten nur bis einschließlich Version 1.4</label>
            <input type="file" id="inputFile" name="file" class="form-control-file"/>
        </div>

        <button type="submit" class="btn btn-success">Hochladen</button>
        <a href="/admin" class="btn btn-sm btn-default btn-light">Zurück</a>

    </form>
    <hr>
    <h3 class="mt-3">Funktionen</h3>
    {% if attachmentExists %}

        
        <a href="/pdf/download" target="__blank">Download</a>
        <a href="/pdf/delete">Löschen</a>

    {% else %}
        <div>
            <p>Kein Anhang hochgeladen.</p>
        </div>
    {% endif %}


{% endblock %}