{% extends "base.html" %}

{% block title %}LIS Berechnung{% endblock %}

{% block footer %}

<script>

    $(document).ready(function(){
        
        $('#formCalculation').validate({
            rules: {
                ort:{
                    required: true,
                    maxlength: 27
                },
                objektBezeichnung: {
                    required: true,
                    maxlength: 15
                },
                objektStandort: {
                    required: true,
                    maxlength: 15
                },
                hausanschluss: 'required',
                gebäudelast: 'required',
                wirkleistungsfaktor: {
                    required: true,
                    max: 1,
                    step: 0.01
                },
                ladeleistungLis: {
                    required: true,
                    max: 22
                },
                jahresfahrleistung: 'required',
                anzahlTage: {
                    required: true,
                    max: 365,
                    step: 1
                },
                energieverbrauchFahrzeug: {
                    required: true,
                    step: 0.1
                },
                ladeleistungFahrzeug: {
                    required: true,
                    max: 22
                },
                zusatzZeitLadeverlust: {
                    required: true,
                    step: 0.01 
                },
                fahrzeugwechselZeit: {
                    required: true,
                    step: 0.01 
                },
                ladezeitraum: 'required',
                nutzfaktor: {
                    required: true,
                    max: 1,
                    step: 0.01
                }
            }
        });
        
    });

</script>

{% endblock %}

{% block body %}

    <h1>LIS Berechnung</h1>

    {% if calculation.errors is not empty %}
        <p>Warnung:</p>
        <ul>
            {% for error in calculation.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

   <form action="/calculation/calculate" method="post" id="formCalculation">

        <h3>Angaben zur Beratung</h3>
        <div>
            <label for="inputOrt">Ort der Beratung</label>
            <input id="inputOrt" name="ort" value="{{ calculation.ort }}">
        </div>
       
        <div>
            <label for="inputObjektbezeichnung">Objekt-Bezeichnung</label>
            <input id="inputObjektbezeichnung" name="objektBezeichnung" value="{{ calculation.objektBezeichnung }}">
        </div>
        <div>
            <label for="inputStandort">Objekt-Standort</label>
            <input id="inputStandort" name="objektStandort" value="{{ calculation.objektStandort }}">
        </div>
      
        <h3>Gebäude & Ladeinfrastruktur</h3>
        <div>
            <label for="inputHausanschluss">Verfügbarer Hausanschluss in kW</label>
            <input type="number" id="inputHausanschluss" name="hausanschluss" step="0.1" min="0" value="{{ calculation.hausanschluss }}">
        </div>
        <div>
            <label for="inputGebäudelast">Gebäudelast in kW</label>
            <input type="number" id="inputGebäudelast" name="gebäudelast" step="0.1" min="0" value="{{ calculation.gebäudelast }}">
        </div>
        {% if calculation.anschlussLeistungLis %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.anschlussLeistungLis }}</strong>  kW für Ladeinfrastruktur</em>
        </div>
        {% endif %}
        <br>
        <div>
            <label for="inputWirkleistungsfaktor">Wirkleistungsfaktor</label>
            <input type="number" id="inputWirkleistungsfaktor" name="wirkleistungsfaktor" step="0.01" min="0" max="1" value="{{ calculation.wirkleistungsfaktor }}">
        </div>
        <div>
            <label for="inputLadeleistungLis">Verfügbare AC-Ladeleistung in kW</label>
            <input type="number" id="inputLadeleistungLis" name="ladeleistungLis" step="0.1" min="0" max="22" value="{{ calculation.ladeleistungLis }}">
        </div>
        {% if calculation.anzahlStellplätzeStatisch %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.anzahlStellplätzeStatisch }}</strong> versorgbare Stellplätze im statischen Fall</em>
        </div>
        {% endif %}
        
        <h3>Fahrzeug & Fahrverhalten</h3>
        <div>
            <label for="inputJahresfahrleistung">Jährliche Fahrleistung in km</label>
            <input type="number" id="inputJahresfahrleistung" name="jahresfahrleistung" step="1" min="0" value="{{ calculation.jahresfahrleistung }}">
        </div>
        <div>
            <label for="inputAnzahlTage">Anzahl Tage (z.B. Werktage)</label>
            <input type="number" id="inputAnzahlTage" name="anzahlTage" step="1" min="0" value="{{ calculation.anzahlTage }}">
        </div>
        {% if calculation.tagesfahrleistung %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.tagesfahrleistung }}</strong> km tägliche Fahrleistung</em>
        </div>
        {% endif %}
        <br>
        <div>
            <label for="inputEnergieverbrauchFahrzeug">Energieverbrauch in kWh/100 km</label>
            <input type="number" id="inputEnergieverbrauchFahrzeug" name="energieverbrauchFahrzeug" step="1" min="0" value="{{ calculation.energieverbrauchFahrzeug }}">
        </div>
        {% if calculation.nachladeBedarfTag %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.nachladeBedarfTag }}</strong> kWh täglichen Nachladebedarf</em>
        </div>
        {% endif %}

       <h3>Ladezeit</h3>
       <div>
            <label for="inputLadeleistungFahrzeug">Fahrzeugseitige Ladeleistung in kW</label>
            <input type="number" id="inputLadeleistungFahrzeug" name="ladeleistungFahrzeug" step="0.1" min="0" max="22" value="{{ calculation.ladeleistungFahrzeug }}">
        </div>
        <div>
            <label for="inputZusatzZeitLadeverlust">Zusatzzeit für Ladeverluste in h</label>
            <input type="number" id="inputZusatzZeitLadeverlust" name="zusatzZeitLadeverlust" step="0.1" min="0" value="{{ calculation.zusatzZeitLadeverlust }}">
        </div>
        {% if calculation.nachladeBedarfZeit %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.nachladeBedarfZeit }}</strong> h zur Nachladung des täglichen Bedarfs</em>
        </div>
        {% endif %}
        <br>
        <div>
            <label for="inputLadezeitraum">Verfügbarer Ladezeitraum in h</label>
            <input type="number" id="inputLadezeitraum" name="ladezeitraum" step="0.1" min="0" value="{{ calculation.ladezeitraum }}">
        </div>
        <div>
            <label for="inputFahrzeugwechselZeit">Zeit zum Fahrzeugwechsel in h</label>
            <input type="number" id="inputFahrzeugwechselZeit" name="fahrzeugwechselZeit" step="0.01" min="0" value="{{ calculation.fahrzeugwechselZeit }}">
        </div>
        {% if calculation.anzahlNachladungen %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.anzahlNachladungen }}</strong> mögliche Nachladungen an einer LIS</em>
        </div>
        {% endif %}

        <h3>Dynamisches Lastmanagement</h3>
        <div>
            <label for="inputNutzfaktor">Nutzfaktor (z.B. 0,7 privat; 0,9 gewerblich)</label>
            <input type="number" id="inputNutzfaktor" name="nutzfaktor" step="0.01" min="0" max="1" value="{{ calculation.nutzfaktor }}">
        </div>
        {% if calculation.anzahlStellplätzeDynamisch %}
        <div>
            <br>
            <em>Ergibt: <strong>{{ calculation.anzahlStellplätzeDynamisch }}</strong> versorgbare Stellplätze im dynamischen Fall</em>
        </div>
        {% endif %}

        <br>

        <button type="submit">Berechnen</button>

   </form>

    {% if calculation.isExportable %}

    <form action="/calculation/export" method="post" target="__blank">
           
        <input type="hidden" name="ort" value="{{ calculation.ort }}">
        <input type="hidden" name="objektBezeichnung" value="{{ calculation.objektBezeichnung }}">
        <input type="hidden" name="objektStandort" value="{{ calculation.objektStandort }}">
   
        <input type="hidden" name="hausanschluss" value="{{ calculation.hausanschluss }}">
        <input type="hidden" name="gebäudelast" value="{{ calculation.gebäudelast }}">
        <input type="hidden" name="anschlussLeistungLis" value="{{ calculation.anschlussLeistungLis }}">
      
        <input type="hidden" name="wirkleistungsfaktor" value="{{ calculation.wirkleistungsfaktor }}">
        <input type="hidden" name="ladeleistungLis" value="{{ calculation.ladeleistungLis }}">
        <input type="hidden" name="anzahlStellplätzeStatisch" value="{{ calculation.anzahlStellplätzeStatisch }}">
        <input type="hidden" name="jahresfahrleistung" value="{{ calculation.jahresfahrleistung }}">
    
        <input type="hidden" name="anzahlTage" value="{{ calculation.anzahlTage }}">
        <input type="hidden" name="tagesfahrleistung" value="{{ calculation.tagesfahrleistung }}">
      
        <input type="hidden" name="energieverbrauchFahrzeug" value="{{ calculation.energieverbrauchFahrzeug }}">
        <input type="hidden" name="nachladeBedarfTag" value="{{ calculation.nachladeBedarfTag }}">
        <input type="hidden" name="ladeleistungFahrzeug" value="{{ calculation.ladeleistungFahrzeug }}">
    
          
        <input type="hidden" name="zusatzZeitLadeverlust" value="{{ calculation.zusatzZeitLadeverlust }}">
        <input type="hidden" name="nachladeBedarfZeit" value="{{ calculation.nachladeBedarfZeit }}">
        <input type="hidden" name="ladezeitraum" value="{{ calculation.ladezeitraum }}">
        <input type="hidden" name="fahrzeugwechselZeit" value="{{ calculation.fahrzeugwechselZeit }}">
        <input type="hidden" name="anzahlNachladungen" value="{{ calculation.anzahlNachladungen }}">
       
        <input type="hidden" name="nutzfaktor" value="{{ calculation.nutzfaktor }}">
        <input type="hidden" name="anzahlStellplätzeDynamisch" value="{{ calculation.anzahlStellplätzeDynamisch }}">
      
        <button type="submit">PDF Export</button>

    </form>

    {% endif %}
   
{% endblock %}