{% extends "base.html" %}

{% block title %}Nutzerverwaltung{% endblock %}

{% block body %}

    <h1>Nutzerverwaltung</h1>
    <hr>

    <form method="post" action="/signup/{{ user.id }}/confirmDeletion" id="formDelete">

        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>E-Mail:</strong>  {{ user.email }}</p>
        
        <button type="submit" class="btn btn-warning">Löschen</button>
        <a href="/admin/show-users" class="btn btn-sm btn-default btn-light">Zurück</a>

    </form>

{% endblock %}
