{% extends "base.html" %}

{% block title %}Nutzerverwaltung{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>

    <script>

        $.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Passwort muss mindestens 1 Zahl und 1 Buchstaben enthalten'
        );

        $(document).ready(function(){
            
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
 
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });

             /**
             * Show password toggle button
            */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });


        });

    </script>

{% endblock %}

{% block body %}

    <h1>Nutzerverwaltung</h1>
    <hr>

    {% if user.errors is not empty %}
        <p>Warnung:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="/signup/create" id="formSignup" >

        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required class="form-control"/>
        </div>

        <div class="form-group">
            <label for="inputEmail">E-Mail-Adresse</label>
            <input type="email" id="inputEmail" name="email" placeholder="E-Mail-Adresse" value="{{ user.email }}" required class="form-control"/>
        </div>

        <div class="form-group">
            <label for="inputPassword">Passwort</label>
            <input type="password" id="inputPassword" name="password" placeholder="Passwort" required autocomplete="new-password" class="form-control"/>
        </div>
      
        <button type="submit" class="btn btn-success">Anlegen</button>

        <a href="/admin" class="btn btn-sm btn-default btn-light">Zurück</a>

    </form>

    
    {% if users %}
        <hr>
        <h3 class="mt-3">Alle Nutzer</h3>
        {% for user in users %}
            <li><a href="/signup/{{ user.id }}/delete">{{ user.name|e }}</a></li>
        {% endfor %}

    {% endif %}

{% endblock %}
